@using Factory.Models
@model Factory.Models.Machine

@{
  Layout = "_Layout";
}

<h2>Machine Details</h2>
    @if (@Model.EngineerMachines.Count == 0)
    {
      <p>This machine has no engineers that are licensed to fix it!</p>
    }
    else
    {
      <h6>This machine has these licensed engineers to fix it:</h6>
      <ul>
        @foreach (EngineerMachine join in Model.EngineerMachines)
        {
          <li>@Html.ActionLink($"{@join.Engineer.Name}", "Details", "Engineers", new {id = @join.Engineer.EngineerId})</li>
        }
      </ul>
      <br>
    }
    <p>@Html.ActionLink("Add an engineer!", "AddEngineer", new { id = Model.MachineId})</p>

<p>@Html.ActionLink("Delete machine", "Delete", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>