@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
@using Factory.Models

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>

@if (@Model.EngineerMachines.Count == 0)
{
  <h3>No machines have been added to this engineer yet!</h3>
} 
else
{
  <h3>This engineer is licensed to fix these machines: </h3>
  <ul>
    @foreach (EngineerMachine join in Model.EngineerMachines)
    {
      <li>@Html.ActionLink($"{join.Machine.Name}", "Details", "Machines", new { id = join.Machine.MachineId })</li>
    }
  </ul>
}

<p>@Html.ActionLink("Add a Machine", "AddMachine", new { id = Model.EngineerId})</p>
<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId})</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>